<div class="row">
  <div class="col-md-6">
    {{#if errorMessage}}
      <p class="bg-danger text-danger">{{errorMessage}}</p>
    {{/if}}
    {{#if success}}
      <p class="bg-success text-success">{{success}}</p>
    {{/if}}
    {{{objectForm}}}
  </div>
</div>
